.container{
  display:grid;
  grid-template-columns: 385px 385px 385px;
  grid-template-rows: 385px 385px 385px;
  padding:25px;
  margin-left: 25px;
 
  background-color: brown;

}
.inside{
  height:300px;
  width:300px;
  background-color: rgb(233, 219, 219);
}
.items{
  text-align: center;
}