.container{
  display:grid;
  grid-template-columns: 385px 385px 385px;
  grid-template-rows: 385px 385px 385px;
  grid-column-gap: 20px  20px 20px;
  padding:25px;
  margin-left: 100px;
 
  background-color: brown;

}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.inside{
  height:300px;
  width:300px;
  background-color: rgb(233, 219, 219);
}
.items{
  text-align: center;
}